* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #F8FAFC;
}

.contentmenu {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.logo {
    width: 25%;
    height: 100px;
    gap: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #1E3A8A;
    color: #F59E0B;
    border-radius: 20px;
}
.logo img {
    width: 100%;
    height: 100%;
}

.menu {
    width: 40%;
    height: 70px;
    gap: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menufooter {
    width: 40%;
    height: 70px;
    gap: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.A {
    width: 80%;
    height: 30px;
    border-radius: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #111827;
}
.AA {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
}
.A a {
    text-decoration: none;
    color: #1E3A8A;
    font-size: 20px;
}
.AA a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}
.b1 {
    padding: 10px;
    color: #0F172A;
    background-color: #1E3A8A;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 1.2rem;
    border-radius: 20px;
}

.hero {
    background: url("/image/background\ hero.jpeg") center/cover no-repeat;
    width: 100%;
    height: 500px;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.A1 {
    width: 95%;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.titre {
    width: 60%;
    height: 90px;
    margin-top: 0;
    color: #1E3A8A;
}

.paragraphe {
    width: 50%;
    height: 80px;
    margin-top: 0;
    color: #111827;
}

.boutton {
    width: 60%;
    height: 40px;
    margin-top: 0;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b2 {
    padding: 10px;
    border-radius: 12px;
    color: #0F172A;
    background-color: #F59E0B;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 1.2rem;
    border-radius: 20px;
}

.B1 {
    width: 45%;
    height: 40px;
    border-radius: 20px;
}

.B2 {
    width: 45%;
    height: 40px;
    border-radius: 20px;
}

.B {
    width: 95%;
    height: 100px;
    display: flex;
    margin: 20px;
    gap: 15px;
    background-color: #FFFFFF;
    margin-top: 15px;
}

.BA {
    width: 90%;
    height: 160px;
    flex-direction: column;
    margin-left: 15px;
    gap: 20px;
}

.BA1 {
    width: 48%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E3A8A;
}

.BA2 {
    width: 90%;
    height: 50px;
    display: flex;
    color: #111827;
}

.C {
    width: 95%;
    height: 300px;
}

.C1 {
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1E3A8A;
}

.CA {
    width: 95%;
    height: 230px;
    margin-left: 15px;
    margin-top: 10px;
    gap: 20px;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.CA1 {
    width: 30%;
    height: 230px;
    background-color: #FFFFFF;
}

.CA1 img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.D {
    width: 95%;
    height: 120px;
}

.D1 {
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1E3A8A;
}

.D1A {
    width: 95%;
    height: 80px;
    flex-direction: row;
    gap: 20px;
    display: flex;
}

.d {
    width: 25%;
    height: 70px;
    color: #111827;
    text-align: center;
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
}

footer {
    width: 100%;
    height: 300px;
    background-color: #0F172A;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.Z {
    width: 100%;
    height: 250px;
    display: flex;
}
.M {
    width: 20%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.fernandez {
    width: 100%;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.E {
    width: 95%;
    height: 40px;
    color: #1E3A8A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentImmo {
    width: 95%;
    height: 580px;
    margin-top: 20px;
    gap: 20px;
    flex-direction: row;
    display: flex;
    margin-left: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.Immo {
    width: 30%;
    height: 560px;
    background-color: #FFFFFF;
}

.image {
    width: 100%;
    height: 280px;
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.t {
    width: 90%;
    height: 30px;
    margin-top: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #0F172A;
}

.p {
    width: 95%;
    height: 150px;
    justify-content: center;
    align-items: center;
    color: #111827;
    text-align: center;
}

.prix {
    width: 95%;
    height: 30px;
    color: #0F172A;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}
.bouton {
    width: 90%;
    height: 40px;
    margin-top: 0;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentServices {
    width: 95%;
    height: 350px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

.Services {
    width: 30%;
    height: 330px;
    border: 2px solid yellow;
    background-color: #FFFFFF;
}

.icone {
    width: 80%;
    justify-content: center;
    height: 180px;
    border: 2px solid navy;
    margin-left: 30px;
}

.P {
    width: 95%;
    height: 70px;
    border: 2px solid sienna;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contentPropos {
    width: 95%;
    height: 200px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Propos {
    width: 42%;
    height: 180px;
    background-color: #FFFFFF;
}

.boucar {
    width: 42%;
    height: 180px;
    background-color: #FFFFFF;
}

.contentboucar {
    width: 95%;
    height: 200px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}